/MessageQueue.v12.suo
/packages
/MessageQueue.Web/obj
/MessageQueue.Web/bin
/MessageQueue.Web/bower_components
/MessageQueue.Web/node_modules
/MessageQueue.Api/bin
/MessageQueue.Api/obj
/MessageQueue.Api/App_Data
/MessageQueue.MessageHelper/bin
/MessageQueue.MessageHelper/obj
/MessageQueue.Consumer/obj
/MessageQueue.Consumer/bin
/MessageQueue.Common/obj
/MessageQueue.Common/bin